@charset "UTF-8";
/*定义菜单栏的样式*/
.menuBarY,.menuBarX{
    margin: 0px;
    padding: 2px;
    list-style: none;
    list-style-image: none;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    background-color:hotpink;
}
.menuBarXEle,.menuBarYEle{
    position: relative;
    margin: 0 auto;
    color: white;
    font-size: 50px;  /*double char total width:124px,chinese char have 1px margin*/
    font-family: '楷体';
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    
    /*
    border-color: #00FF00;
    */
}
.menuBarXEle{
    float: left;
    border-left-color: aqua;
    border-right-color: aqua;
}
.menuBarYEle{
    border-top-color: aqua;
    border-bottom-color: aqua;
}
/*鼠标悬浮于菜单内部元素时，元素高亮*/
.menuBarXEle:hover,.menuBarYEle:hover{
    background-color: white;
    color: skyblue;
    border-color: yellow;
}

.menuBarXEle:first-child{
    border-left-color: transparent;
}
.menuBarXEle:last-child{
    border-right-color: transparent;
}
.menuBarYEle:first-child{
    border-top-color: transparent;
}
.menuBarYEle:last-child{
    border-bottom-color: transparent;
}
/**二级菜单里的元素字符串不换行 */
.menuBarY > li > ul,.menuBarX > li > ul{
    white-space:nowrap;
}
/*鼠标悬浮时，展开自动相应的二级菜单*/
.menuBarX > li:hover > ul,
    .menuBarY > li:hover > ul{
    display: block;
}
/*定义二级菜单样式*/
.menu2ndBar{
    position: absolute;
    margin: 0 auto;
    padding: 2px;
    overflow-y: auto;
    list-style: none;
    list-style-image: none;
    background-color: hotpink;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    display: none;
}
.menuBarX > li >ul{
    /*暂时不知道如何实现自动撑大的同时居中*/
    left: -3px;/*暂时简单粗暴地弄个固定值*/
}
/*鼠标悬浮于二级菜单内部元素时，元素高亮*/
.menu2ndBar > li:hover{
    background-color: white;
    color: skyblue;
}


