/*辅助功能之图钉（图形指针）*/
.pointer_setByUser,.pointer_followUser{
    position: absolute;
	top:10px;
	left: 10px;
	margin: 0px;
	border-style: solid;
	border-color: hotpink;
	border-width:1px;
	border-bottom: none;
	border-right: none;
	color: hotpink;
    font-size: 0.5em;
    pointer-events: none;
    display: block;
}
.pointer_setByUser_off,.pointer_followUser_off{
    display: none;
}
.pointer_posReport{
    mix-blend-mode: difference;
}